
PROD                      = DB2_SERVER_EDITION
FILE                      = {{ db2_install_dir }}
LIC_AGREEMENT             = ACCEPT         ** ACCEPT or DECLINE
INSTALL_TYPE              = CUSTOM         ** TYPICAL, COMPACT, CUSTOM
COMP                      = APPLICATION_DEVELOPMENT_TOOLS       ** Base application development tools

INSTANCE=DB2_INST
DB2_INST.NAME = {{ db2_instance_name }}
DB2_INST.TYPE = ESE 
DB2_INST.PASSWORD = {{ db2_instance_pw }}
DB2_INST.UID = 5000
DB2_INST.GID = 5000
DB2_INST.GROUP_NAME = {{ db2_instance_grp }}
DB2_INST.HOME_DIRECTORY = /home/{{ db2_instance_name }}
DB2_INST.SVCENAME = db2c_db2inst1
DB2_INST.PORT_NUMBER = {{ db2_instance_port }}
DB2_INST.FCM_PORT_NUMBER = 60000
DB2_INST.MAX_LOGICAL_NODES = 1
DB2_INST.AUTOSTART = YES
DB2_INST.START_DURING_INSTALL = YES
DB2_INST.FENCED_USERNAME = {{ db2_fenced_name }}
DB2_INST.FENCED_PASSWORD = {{ db2_fenced_pw }}
DB2_INST.FENCED_UID = 5001
DB2_INST.FENCED_GID = 5001
DB2_INST.FENCED_GROUP_NAME = {{ db2_fenced_grp }}
DB2_INST.FENCED_HOME_DIRECTORY =/home/{{ db2_fenced_name }}
DB2_INST.CONFIGURE_TEXT_SEARCH = NO

DB2FODC=CORELIMIT=1073741824
DB2COMM=TCPIP

