-- Create a role and grant common minimal privileges
connect to {{ database_name }};
create role {{ role_name }};
grant connect, createtab on database to role {{ role_name }}; 
grant use of tablespace userspace1 to role {{ role_name }};
grant usage on workload SYSDEFAULTUSERWORKLOAD to role {{ role_name }};

-- The following catalog privileges are required in most cases for database metadata access:
-- per http://www-01.ibm.com/support/docview.wss?rs=71&uid=swg21267177
grant select on table SYSIBM.SQLTABLES to role {{ role_name }};
grant select on table SYSIBM.SYSTABLES to role {{ role_name }};
grant select on table SYSIBM.SQLTABLETYPES to role {{ role_name }};
grant select on table SYSIBM.SQLTABLEPRIVILEGES to role {{ role_name }};
grant select on table SYSIBM.SYSCOLUMNS to role {{ role_name }};
grant select on table SYSIBM.SQLSPECIALCOLUMNS to role {{ role_name }};
grant select on table SYSIBM.SQLCOLPRIVILEGES to role {{ role_name }};
grant select on table SYSIBM.SYSDUMMY1 to role {{ role_name }};
grant select on table SYSIBM.SQLPRIMARYKEYS to role {{ role_name }};
grant select on table SYSIBM.SQLSTATISTICS to role {{ role_name }};
grant select on table SYSIBM.SQLFOREIGNKEYS to role {{ role_name }};
grant select on table SYSIBM.SYSINDEXES to role {{ role_name }};
grant select on table SYSIBM.SQLPROCEDURES to role {{ role_name }};
grant select on table SYSIBM.SQLPROCEDURECOLS to role {{ role_name }};
grant select on table SYSIBM.SYSROUTINES to role {{ role_name }};
grant select on table SYSIBM.SYSROUTINEPARMS to role {{ role_name }};
grant select on table SYSIBM.SQLTYPEINFO to role {{ role_name }};
grant select on table SYSIBM.SQLUDTS to role {{ role_name }};
grant select on table SYSIBM.SQLSCHEMAS to role {{ role_name }};
grant select on table SYSIBM.SYSRELS to role {{ role_name }};
grant select on table SYSIBM.SYSKEYCOLUSE to role {{ role_name }};
grant select on table SYSIBM.SYSTABCONST to role {{ role_name }};
grant select on table SYSIBM.SYSDATATYPES to role {{ role_name }};

-- These are CLP packages
grant execute on package NULLID.SQLC2O28 to role {{ role_name }};
grant execute on package NULLID.SQLC3O27 to role {{ role_name }};
grant execute on package NULLID.SQLC4O27 to role {{ role_name }};
grant execute on package NULLID.SQLC5O27 to role {{ role_name }};
grant execute on package NULLID.SQLC6O27 to role {{ role_name }};

commit;

