<?php
$database = '{{ database_name }}';
$user = '{{ db2_instance_name }}';
$password = '{{ db2_instance_pw }}';

$conn = db2_connect($database, $user, $password);

if ($conn) {
    echo "Connection succeeded.";
    db2_close($conn);
}
else {
    echo "Connection failed.";
    exit(1);
}
?>
