-- For each new user:
-- 1. Create OS user
connect to {{ database_name }};
create schema {{ user_name }};
grant createin on schema {{ user_name }} to user {{ user_name }};
grant role {{ role_name }} to user {{ user_name }};
commit;
